@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*
.color1 {color: #4b2c48;}
.color2 {color: #6c3850;}
.color3 {color: #9b505c;}
.color4 {color: #d67769;}
.color5 {color: #ffb278;}
*/

body {
    background: linear-gradient(30deg, #9B505C 45%, #D67769 55%) ;
    font-size: 100%;
    background-repeat: no-repeat;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
}

.cabecalho-img {
    height: 95px;
}

.cabecalho-menu {
    display: flex;
    gap: 75px;
}

.cabecalho-menu-item {
    color: #FFB278;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    border-top: 0.5px solid #4B2C48;
    margin-bottom: 50px;   
}

.conteudo-itens {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 65px;
}

.conteudo-itens-txt {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.conteudo-itens-txt-titulo {
    font-family: 'righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFB278;
}

.conteudo-itens-txt-titulo2 {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFB278;
}

.botao {
    width: 300px;
    height: 60px;
    border: none;
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #FFB278;
    background-color: #6c3850;
    box-shadow: 3px 3px 5px #4b2c48;
    cursor: pointer;
}

.botao:hover {
    background-color: #4b2c48;
    letter-spacing: 1px;
}

.conteudo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.conteudo2-titulo {
    border-top: 0.5px solid #4B2C48;
    font-family: 'righteous', cursive;
    font-weight: 400;
    font-size: 45px;
    color: #FFB278
}

.conteudo2-itens-lista {
    display: flex;
    flex-direction: column;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFB278;
    gap: 10px;
}

.rodape {
    display: flex;
    flex-direction: column;
    border-top: 0.5px solid #4B2C48;
    padding: 35px;
    align-items: center;
    color: #4b2c48;
}

@media (max-width: 600px) {
   .cabecalho {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        background-color: #331f31;
    }

    .cabecalho-menu {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }   

    .cabecalho-menu-item {
        font-size: 10px;
    }

    .conteudo {
        border-top: 0.5px solid #4B2C48;
        margin-bottom: 50px;
    }

    .conteudo-itens {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 65px;
    }

    .conteudo-itens-txt {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }
    
    .conteudo-itens-txt-titulo {
        font-family: 'righteous', cursive;
        font-weight: 400;
        font-size: 30px;
        color: #FFB278;
    }
    
    .conteudo-itens-txt-titulo2 {
        font-family: 'Sarala', sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #FFB278;
    }

    .botao {   
        display: none;
    }

    .conteudo-img {
        width: 250px;
        height: 300px;
    }

    .conteudo2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .conteudo2-titulo {
        border-top: 0.5px solid #4B2C48;
        font-family: 'righteous', cursive;
        font-weight: 400;
        font-size: 20px;
        color: #FFB278;
        padding-top: 15px;
    }

    .conteudo2-itens-lista {
        display: flex;
        flex-direction: column;
        font-family: 'Sarala', sans-serif;
        font-weight: 400;
        font-size: 11px;
        color: #FFB278;
    }

}
